body {
  background-color: white;
}

.paper {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#avatar-no-material,
.avatar {
  margin: 8px;
  background-color: rgb(220, 0, 78);
}

.form {
  width: '100%';
  margin-top: 24px;
}

.formControl {
  margin: 8px;
  min-width: 120;
}

#submit-no-material,
.submit {
  margin: 24px 0px 16px;
}
